<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/home">
      <img src="" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample is-right" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>{

      <a href="/posts" class="navbar-item">
        My Posts
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          User
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href='/auth/logout' class="button is-primary">
            <strong>Logout</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<h2>Tus posts </h2>

<hr>
    <a href="/posts/new" class="button is-success">+ Create Post</a>
</hr>

<table class="table is-fullwidth">
    <thead>
        <tr>
        <th>Título</th>
        <th>Post</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr> 
            <td width="30%">{{this.title}}</td>
            <td width="40%">{{this.body}}</td>
            <td class="field is-grouped">
                <a href="/posts/{{{this.slug}}}" class="button is-primary">See more</a>
                <a href="/posts/edit/{{{this._id}}}" class="button is-info is-light">Editar</a>
                
                <form class="control" action="/posts/{{{this._id}}}?_method=DELETE" method="POST">
                    <button type="submit" class="button is-danger"> 
                        <ion-icon name="trash-outline"></ion-icon>
                        Delete 
                    </button>
                </form>

               
            </td>
            </tr>
       {{/each}}
  </tbody>
</table>



    
}